.button {
    --color: #71EAC6;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: all .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 60px;
    font-weight: 500;
    color: var(--color);
   }
   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #26232c;
    box-shadow: 0 0 3rem #71EAC6;
   }
   
   .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   

