
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #b2d1c9;
  background: #26232c;
}

.nev-el:hover{
  text-shadow: 0 0 1rem #b2d1c9;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #b2d1c9; 
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #71EAC6;
}